body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    > #root {
        display: flex;
        flex-direction: column;
        height: inherit;
        width: inherit;
        background-color: #27272A;
        color: #FFFFFF;

        > iframe {
            height: 100%;
            width: 100%;
            border: unset;
        }
    }
}
